<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
	<head>
		<link href="http://linkint.prod.xsqit.com/libraries/resources/website-elements/favicon.ico" rel="icon" type="image/x-icon">
		$head_hook$
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> <!--320-->
		
		<!-- CSS -->
		<link rel="stylesheet" href="http://linkint.prod.xsqit.com/libraries/resources/CSS/font-awesome.min.css">
		<link rel="stylesheet" href="http://linkint.prod.xsqit.com/libraries/resources/CSS/datatables.min.css" />
		<link rel="stylesheet" href="http://linkint.prod.xsqit.com/libraries/resources/CSS/stacktable.css" />
		<link rel="stylesheet" href="http://linkint.prod.xsqit.com/libraries/resources/CSS/slick.css" />
		<link rel="stylesheet" href="http://linkint.prod.xsqit.com/libraries/resources/CSS/slick-theme.css" />
		<link rel="stylesheet" href="http://linkint.prod.xsqit.com/libraries/resources/CSS/app.css" />
	</head>
	<body>
		<div class="main-wrapper">
			<!-- Search/Social/User info -->
			<div class="row">
				<div class="large-12 columns">
					$global_top_section$
				</div>
			</div>

			<!-- Nav Bar -->
			$global_nav$
			<hr style="margin:0px!important;">
			<!-- Slider -->
			$slider$
			<!-- Search Box -->
			$global_search_box$
			<!-- Product Info -->
			<div class="row prode-white">
				<div class="small-12 columns">
					$1_full_width_area$
				</div>
			</div>

			<!-- Footer -->
			<div class="grey3-bg footer" style="border-top: 4px solid rgba(0, 0, 0, 0.05);">
				$global_footer$
			</div>
		</div>				
		$global_JS$
		$javascript_functions$
  </body>
</html>