<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
	<head>
		<link href="http://www.linkint.com.au/libraries/resources/website-elements/favicon.ico" rel="icon" type="image/x-icon">
		$head_hook$
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> <!--320-->
		
		<!-- CSS -->
		<link rel="stylesheet" href="http://www.linkint.com.au/libraries/resources/CSS/font-awesome.min.css">
		<link rel="stylesheet" href="http://www.linkint.com.au/libraries/resources/CSS/datatables.min.css" />
		<link rel="stylesheet" href="http://www.linkint.com.au/libraries/resources/CSS/stacktable.css" />
		<link rel="stylesheet" href="http://www.linkint.com.au/libraries/resources/CSS/slick.css" />
		<link rel="stylesheet" href="http://www.linkint.com.au/libraries/resources/CSS/slick-theme.css" />
		<link rel="stylesheet" href="http://www.linkint.com.au/libraries/resources/CSS/app.css" />
		
		<meta property="og:url"           content="http://www.linkint.com.au/" />
		<meta property="og:type"          content="website" />
		<meta property="og:title"         content="Link International" />
		<meta property="og:description"   content="Supplying quality imported motoring parts, accessories and service for nearly 30 years." />
		<meta property="og:image"         content="http://www.linkint.com.au/libraries/images/website-elements/link-main-logo.png" />
		
		<!--Google Analytics Tracking Code-->
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-7763593-1', 'auto');
			ga('send', 'pageview');
		</script>

	</head>
	<body>
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		<div class="main-wrapper">
			<!-- Search/Social/User info -->
			<div class="row">
				<div class="large-12 columns">
					$global_top_section$
				</div>
			</div>

			<!-- Nav Bar -->
			$global_nav$
			<hr style="margin:0px!important;">
			<!-- Slider -->
			$slider$
			<!-- Search Box -->
			$global_search_box$
			<!-- Product Info -->
			<div class="row prode-white">
				<div class="small-12 columns">
					$1_full_width_area$
				</div>
			</div>
			

			<!-- Footer -->
			<div class="grey3-bg footer" style="border-top: 4px solid rgba(0, 0, 0, 0.05);">
				$global_footer$
			</div>
		</div>				
		$global_JS$
		$javascript_functions$
  </body>
</html>