<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
	<head>
		<link href="http://www.linkint.com.au/libraries/resources/website-elements/favicon.ico" rel="icon" type="image/x-icon">
		$head_hook$
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> <!--320-->
		
		<!-- CSS -->		
		<link rel="stylesheet" href="http://www.linkint.com.au/libraries/resources/CSS/font-awesome.min.css">
		<link rel="stylesheet" href="http://www.linkint.com.au/libraries/resources/CSS/datatables.min.css" />
		<link rel="stylesheet" href="http://www.linkint.com.au/libraries/resources/CSS/stacktable.css" />
		<link rel="stylesheet" href="http://www.linkint.com.au/libraries/resources/CSS/app.css?07062016" />
		
		<!--Google Analytics Tracking Code-->
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-7763593-1', 'auto');
			ga('send', 'pageview');
		</script>
		
	</head>
	<body>
		<div class="main-wrapper">
			<!-- Search/Social/User info -->
			<div class="row">
				<div class="large-12 columns">
					$global_top_section$
				</div>
			</div>

			<!-- Nav Bar -->
			$global_nav$
			<hr style="margin:0px!important;">
			<!-- Search Box -->
			$global_search_box$
			<!-- Slider -->
			$slider$
			<!-- The sub navigation -->
			<div class="row">
				<div class="large-2 medium-3 small-12 columns">
					<!-- The <nav> code goes here -->
					$2_sidebar$
					$global_product_side_nav$
				</div>
				<div class="large-10 medium-9 small-12 columns">
					<section id="history">
						<div class="row">
							<div class="small-12 large-12 columns" style="border-left: 1px solid rgba(0,0,0, 0.2);">
								$1_page_text_content$
							</div>
							<div class="large-12 columns show-for-medium-up">
								<p>&nbsp;</p>
							</div>
						</div>
					</section>	
				</div>
			</div>

			<!-- Footer -->
			<div class="grey3-bg footer" style="border-top: 4px solid rgba(0, 0, 0, 0.05);">
				$global_footer$
			</div>
		</div>
		$global_JS$
		$javascript_functions$
		<!--AddThis-->
		<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53ab90c819762660"></script>
	</body>
</html>